<ion-header color="mercapp">
  <ion-navbar color="mercapp">
    <ion-title>
      Mercappweb - Prototype
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="modal" [ngStyle]="{'display': showImg ? 'block' : 'none'}">
      <div class="modal-content">      
          <button (click)="closeImg()" ion-button color="light" block>Fechar</button>
        <img [src]="'data:image/png;base64,'+currentImage">
      </div>
  </div>
  <ion-list inset>
  
    <ion-item text-center>
        <ion-icon name="camera"></ion-icon>      
    </ion-item>

    <button (click)="getCode()" ion-button block color="mercapp">Leitor Código Barras</button>
  
  </ion-list>  

  <ion-list>
      <ion-list-header no-lines>
        Produtos
      </ion-list-header>      
      <ion-item *ngFor="let prod of produtos">
        <ion-thumbnail item-start>
            <img [src]="'data:image/png;base64,'+prod.image">
        </ion-thumbnail>      
        <h2>{{prod.description}}</h2>
        <p>{{prod.value}}</p>
        <p>{{prod.bar_code}}</p>        
        <button (click)="showImage(prod.image)" ion-button clear item-end>Ver</button>
      </ion-item>              
      
    </ion-list>    

</ion-content>
