page-home {
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 120; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {     
    padding: 0 25px 20px;
    border: 1px solid #888;  
    display: block;  
    text-align: center;  
    margin-top: 15%;
  }
  
  .modal-content h1 {
    color: #177865;
  
    }

}
